@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>MongoTestObject</h3>
<p>@ViewBag.TestObj</p>

<h3>ITestInterface1</h3>
<p>@ViewBag.TestInt1</p>

<h3>ITestInterface2</h3>
<p>@ViewBag.TestInt2</p>

<p>Use this area to provide additional information.</p>
